/*============================

	********* QUICK SUMMERY **********

	1. General

	2. Custom properties

	3. Typography

	4. Top navigation bar

	5. User profile header

	6. Left section

	7. Lock feature

	8. User intro and hobbies list

	9. User photos and friends list

	10. User events

	11. Answered questions by user

	12. Footer

	13. Right section

  ============================*/

/*============================
	1. General
  ============================*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
	color: var(--primary-text-color);
	background-color: var(--bg-color-darker);
}

main {
	margin: 0 auto;
	max-width: 900px;
	display: flex;
}

/*============================
	2. Custom properties
  ============================*/

:root {
	--bg-color-darker: #1c1e21;
	--bg-color-dark: #242526;
	--bg-color-light: white;
	--bg-color-light-hover: rgb(221, 221, 221);
	--primary-accent-color: #3a3b3c;
	--primary-accent-color-hover: #4a4b4c;
	--secondary-accent-color: #008cff;
	--secondary-accent-color-hover: #2ca0ff;
	--primary-text-color: #e4e6eb;
	--secondary-text-color: #2e89ff;
	--default-transition: 0.2s all ease;
	--default-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
	--border-top: 1px solid rgba(119, 119, 119, 0.3);
	--thin-border: 1px solid rgba(119, 119, 119, 0.3);
}

/*============================
	3. Typography
============================*/


h1{
	font-size: 2.5rem;
}
h2{
	font-size: 1.3rem;
}

p,
input[placeholder],
button{
	font-size: 1.1rem;
}
i{
	font-size: 1.25rem;
}
#life-events p,
#life-events i{
	font-size: 0.95rem;
}
#answered-questions p,
#answered-questions i{
	font-size: 0.9rem;
}
#footer *{
	font-size: 0.85rem;
}
.sidebar-content-heading a{
	font-size: 1.2rem;
}
/*============================
	4. Top navigation bar
============================*/

#top-nav {
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0;
	z-index: 1000;
	background-color: var(--bg-color-dark);
	max-height: 55px;
	padding: 0.5em 0;
}

.nav-container {
	display: flex;
	align-items: center;
}

.nav-left,
.nav-right {
	width: 25%;
}

.nav-middle {
	width: 50%;
}
.nav-right {
	justify-content: flex-end;
	margin-right: 0.5em;
}
#company-logo {
	height: 100%;
	margin: 0 0.5em;
	margin-left: 1em;
	border-radius: 50%;
}

/* left */

#search-bar {
	height: 100%;
	width: 100%;
	display: flex;
}

#search-bar input {
	border: none;
	border-radius: 0px 50px 50px 0px;
	background-color: var(--primary-accent-color);
	color: var(--primary-text-color);
}

#search-bar input:focus {
	outline: none;
}

#search-bar i {
	display: flex;
	align-items: center;
	background-color: var(--primary-accent-color);
	color: var(--primary-text-color);
	border-radius: 50px 0 0 50px;
	padding: 0 1em;
}

#search-bar > input[placeholder] {
	padding-bottom: 0.1em;
}

/* middle */

#top-nav-buttons {
	margin: 0 auto;
}

#top-nav-buttons ul {
	display: flex;
	list-style-type: none;
}

#top-nav-buttons a {
	position: relative;
	display: block;
	padding: 1.5em 3em;
	margin: 0 0.5em;
	text-decoration: none;
	color: var(--primary-text-color);
	border-radius: 5px;
}

#top-nav-buttons i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#top-nav-buttons a:hover {
	background-color: var(--primary-accent-color);
	transition: var(--default-transition);
}

/* right */

#user-profile-button {
	height: 100%;
	width: 5em;
	display: flex;
	align-items: center;
	padding: 0.2em;
	justify-content: space-between;
	background-color: rgba(0, 94, 202, 0.279);
	border-radius: 50px;
}

#user-profile-button img {
	height: 100%;
	border-radius: 50%;
}

#user-profile-button p {
	color: var(--secondary-text-color);
}

#user-profile-button:hover {
	background-color: rgb(53, 73, 94);
	transition: var(--default-transition);
}

#user-options ul {
	height: 100%;
	display: flex;
	list-style-type: none;
}

#user-options a {
	display: block;
	position: relative;
	padding: 1.3em;
	color: white;
	text-decoration: none;
	background-color: var(--primary-accent-color);
	border-radius: 50%;
	margin: 0 0.2em;
}

#user-options i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#user-options a:hover {
	background-color: var(--primary-accent-color-hover);
	transition: var(--default-transition);
}

/*============================
	5. User Profile header
  ============================*/

#user-profile-head {
	background: linear-gradient(
		to bottom,
		rgb(209, 209, 209),
		var(--bg-color-dark),
		var(--bg-color-dark)
	);
	box-shadow: var(--default-box-shadow);
}

/* Cover photo */

#cover-photo {
	position: relative;
	width: 955px;
	height: 350px;
	margin: 0 auto;
	overflow: hidden;
	box-shadow: var(--default-box-shadow);
	border-radius: 0 0 10px 10px;
	z-index: 0;
}

#cover-shadow-filter {
	position: absolute;
	top: 0;
	bottom: 0;
	background: linear-gradient(
		to bottom,
		rgba(21, 21, 21, 0),
		rgba(21, 21, 21, 0),
		rgba(21, 21, 21, 0),
		rgba(21, 21, 21, 0),
		rgba(21, 21, 21, 0.8)
	);
	width: 100%;
	z-index: 2;
}

#cover-photo img {
	width: 955px;
	transform: translateY(-20%);
}

#edit-cover-button {
	position: absolute;
	border-radius: 8px;
	cursor: pointer;
	border: none;
	right: 4%;
	bottom: 4%;
	display: flex;
	align-items: center;
	padding: 0.5em;
	text-transform: capitalize;
	z-index: 2;
	background-color: var(--bg-color-light);
}

#edit-cover-button i {
	padding-right: 0.5em;
}

#edit-cover-button:hover {
	transition: var(--default-transition);
	background-color: var(--bg-color-light-hover);
}

/* Profile picture and details */

#profile {
	width: 350px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: -165px;
	text-transform: capitalize;
	z-index: 10;
}

#edit-bio {
	cursor: pointer;
	background: none;
	border: none;
	color: var(--secondary-text-color);
}

#edit-bio:hover {
	text-decoration: underline;
}

#profile-pic {
	border-radius: 50%;
	position: relative;
}

#profile-pic img {
	width: 180px;
	border: 5px solid var(--bg-color-dark);
	border-radius: 50%;
	box-shadow: var(--default-box-shadow);
}

#profile-pic i {
	position: absolute;
	cursor: pointer;
	background-color: var(--bg-color-dark);

	padding: 0.5em;
	border-radius: 50%;
	bottom: 10%;
	right: 2%;
}

#profile-pic i:hover {
	background-color: var(--primary-accent-color-hover);
	transition: var(--default-transition);
}

#heading-nav {
	max-width: 900px;
	border-top: var(--border-top);
	margin: 0.5em auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* navigation links below profile picture */

#nav-links ul {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}

#nav-links li {
	cursor: pointer;
	padding: 1em;
	text-transform: capitalize;
	color: var(--primary-text-color);
	border-radius: 5px;
	display: flex;
	align-items: flex-start;
}

#nav-links li:hover {
	transition: var(--default-transition);
	background-color: var(--primary-accent-color);
}

#nav-links li.active {
	background: none;
	border-bottom: 2px solid var(--secondary-accent-color);
	color: var(--secondary-text-color);
	border-radius: 0;
}

#buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.btn {
	cursor: pointer;
	color: var(--primary-text-color);
	background-color: var(--primary-accent-color);
	margin: 0 0.3em;
	padding: 0.5em;
	height: 40px;
	border: none;
	border-radius: 5px;
}

.btn i {
	padding: 0 0.2em;
}

.btn:hover {
	background-color: var(--primary-accent-color-hover);
	transition: var(--default-transition);
}

#story {
	background-color: var(--secondary-accent-color);
}

#story:hover {
	background-color: var(--secondary-accent-color-hover);
	transition: var(--default-transition);
}

#edit-more {
	padding: 0.5em 1em;
}

/*============================
	6. Left section
  ============================*/

#user-sidebar {
	width: 44%;
}

.sidebar-content-heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 1.2em;
}

.sidebar-content-heading a {
	text-decoration: none;
	cursor: pointer;
	color: var(--secondary-text-color);
	text-transform: capitalize;
	padding: 0.5em;
	border-radius: 5px;
}

.sidebar-content-heading a:hover {
	background-color: var(--primary-accent-color);
	transition: var(--default-transition);
}

#user-main-content {
	width: 56%;
}

#user-sidebar > div,
#user-main-content > div {
	background-color: var(--bg-color-dark);
	margin: 1em 0.5em;
	padding: 0.5em 1em;
	border-radius: 8px;
	box-shadow: var(--default-box-shadow);
}

/*============================
	7. Lock feature
  ============================*/

#lock-info {
	display: flex;
	align-items: center;
	padding: 1em 0;
}

#lock-info i {
	background: linear-gradient(to bottom, rgb(0, 113, 219), rgb(0, 101, 196));
	padding: 0.5em;
	margin: 0 0.6em;
	border-radius: 50%;
}

#lock-status p {
	font-weight: 600;
	text-transform: capitalize;
}

#lock-status a {
	color: var(--secondary-text-color);
	text-decoration: none;
	font-weight: 600;
	text-transform: capitalize;
}

#lock-status a:hover {
	text-decoration: underline;
}

/*============================
	8. User intro and hobbies list
  ============================*/

/* intro */
#user-details li {
	display: flex;
	align-items: center;
	list-style-type: none;
	margin: 1em 0;
}

#user-details i {
	padding-right: 1em;
}

#intro button {
	width: 100%;
	padding: 0.6em;
	text-transform: capitalize;
	color: var(--primary-text-color);
	border: none;
	border-radius: 5px;
	margin: 0.5em 0;
	background-color: var(--primary-accent-color);
}

/* hobbies */

#hobbies ul {
	display: flex;
}

#hobbies li {
	background-color: var(--bg-color-dark);
	display: flex;
	align-items: center;
	border-radius: 50px;
	padding: 0.5em;
	margin-right: 0.8em;
	margin-top: 1em;
	border: var(--thin-border);
}

#hobbies li > * {
	padding: 0 0.2em;
}

#hobbies li:hover,
#intro button:hover {
	background-color: var(--primary-accent-color-hover);
	transition: var(--default-transition);
}

/*============================
	9. User photos and friends list
  ============================*/

.photo-grid,
.friend-list-grid {
	display: grid;
	grid-template-columns: repeat(3, minmax(50px, 1fr));
}

/* photos */

.photo-grid {
	border-radius: 10px;
	overflow: hidden;
	grid-gap: 5px;
}

.photo-grid img,
.friends-container img {
	width: 100%;
}

/* friends */

.friend-list-grid {
	gap: 10px;
}

.friends-container img {
	border-radius: 10px;
}

/*============================
	10. User events
  ============================*/

#events {
	display: flex;
	gap: 2px;
}

.life-event-preview {
	display: flex;
	flex-direction: column;
	height: 250px;
	border: var(--thin-border);
	justify-content: center;
	align-items: center;
	flex-basis: 100%;
}

.life-event-preview:hover {
	background-color: var(--primary-accent-color);
	transition: var(--default-transition);
}

.event-logo {
	padding: 0.8em;
	margin-bottom: 0.5em;
	border-radius: 50%;
	background-color: var(--secondary-accent-color);
}

.preview-left {
	border-radius: 10px 0 0 10px;
}

.preview-right {
	border-radius: 0 10px 10px 0;
}

/*============================
	11. Answered questions by user
  ============================*/

#answered-questions-section {
	display: grid;
	gap: 3px;
	grid-template-columns: repeat(3, 1fr);
	border-radius: 5px;
}

.answered-questions-preview {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 120px;
	border: var(--thin-border);
	padding: 0 0.5em;
	text-align: center;
}

.answered-questions-preview:hover {
	background-color: var(--primary-accent-color);
	transition: var(--default-transition);
}

/*============================
	12. Footer
  ============================*/

#footer {
	padding: 0 0.5em;
}

#footer a,
#footer span {
	text-transform: capitalize;
	color: var(--primary-text-color);
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}

/*============================
	13. Right section
  ============================*/

/* post creation feature */

#create-post {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

#user-status {
	display: flex;
	align-items: center;
}

#user-status img {
	width: 45px;
	border-radius: 50%;
	cursor: pointer;
	border: var(--thin-border);
}

#user-status input {
	padding: 0.5em;
	margin-left: 0.5em;
	cursor: pointer;
	border-radius: 50px;
	border: none;
	background-color: var(--primary-accent-color);
	width: 100%;
}

#user-status input:hover {
	background-color: var(--primary-accent-color-hover);
	transition: var(--default-transition);
}

#user-status input[placeholder] {
	color: var(--primary-text-color);
}

#user-posting-options {
	display: flex;
	justify-content: space-around;
	border-top: var(--border-top);
	align-items: center;
}

#user-posting-options a {
	color: var(--primary-text-color);
	padding: 0.5em;
	margin-top: 0.2em;
	border-radius: 5px;
	text-decoration: none;
}

#user-posting-options a:hover {
	background-color: var(--primary-accent-color);
	transition: var(--default-transition);
}

#user-posting-options i {
	margin-right: 0.5em;
}

/* user post settings */

#post-settings-container {
	display: flex;
	padding-bottom: 0.5em;
	justify-content: space-between;
	align-items: center;
	text-transform: capitalize;
}

#post-settings-buttons button {
	padding: 0.5em;
	text-transform: capitalize;
	border: none;
	color: var(--primary-text-color);
	background-color: var(--primary-accent-color);
	border-radius: 5px;
}
#post-settings-buttons button:hover {
	background-color: var(--primary-accent-color-hover);
	transition: var(--default-transition);
}
#post-settings-buttons i {
	margin-right: 0.5em;
}

/* post viewing styles */

#post-view-settings ul {
	display: flex;
	border-top: var(--border-top);
}

#post-view-settings li {
	flex-basis: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	list-style-type: none;
	color: var(--primary-text-color);
	padding: 0.5em;
	margin-top: 0.5em;
	border-radius: 5px;
}

#post-view-settings li:hover {
	background-color: var(--primary-accent-color);
	transition: var(--default-transition);
}

#post-view-settings i {
	margin-right: 0.2em;
}

/* Default value when there's no post */

#no-post {
	background: none !important;
	margin: 2em 0 !important;
	padding: 0 !important;
	box-shadow: none !important;
	text-align: center;
	color: var(--primary-text-color);
}
